<div class="jumbotron" id="jumbotron-features">
    <div>
        <div class="feature-item" style="background-image:url(../../Images/features/promo1.jpg);"></div>
    </div>
    <div>
        <div class="feature-item" style="background-image:url(../../Images/features/promo2.jpg);"></div>
    </div>
    <div>
        <div class="feature-item" style="background-image:url(../../Images/features/promo3.jpg);"></div>
    </div>
</div>
