@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="jumbotron">
        <div class="row" id="jumbo-up">

        </div>
        <div class="row" id="jumbo-bottom">

        </div>
    </div>
</section>