<section>
    <div class="jumbotron" id="main-jumbotron">
        <h1>Intercoiffeur</h1>
        <h3>Somos profesionales en los servicios que ofrecemos como peluquería, belleza, maquillaje y más.</h3>
    </div>
</section>